<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Example Zabbix Web</title>

</head>
<body>

<h2>Information about Zabbix client for Spring PCF</h2>
<div th:if="${urlSend}">
    <p>
        This is service broker url: <span th:text="${urlSend}"></span>
    </p>
    <div th:if="${appID}">
        This app has ID: <b th:text="${appID}"> number</b>
        <div th:if="${serviceName}">
            this application bind to  <b th:text="${serviceName}"> service</b>
        </div>
    </div>
</div>
<h2>Registered values</h2>
<table if="${values}" border="1">
    <tr>
        <td>name of items</td>
        <td>keys of items</td>
    </tr>
    <tr th:each="val:${values}">
        <td th:text="${val.name}"> names</td>
        <td th:text="${val.key}" > keys</td>
    </tr>
</table>
<form method="get" action="/test/registerFromWeb">
    <p>new name of item:<input type="text" name="name" /> </p>
    <p><input type="submit" name="add" /></p>
</form>

</body>
</html>