<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <style>
      .main-form {
        margin-top: 30px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
      }
      .wrapper input {
        margin-right: 4px;
      }
      .wrapper label {
        margin-right: 4px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/
3.3.7/css/bootstrap.min.css" integrity="sha384-
BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" />
</head>
<body>

<form:form class="main-form" modelAttribute="itemsFormContainier" action="/testget">
    <div class="wrapper">
        <div class="form-group form-inline">
            <label>Name of item</label>
            <form:input data-id="0" name="itemsFormContainier.names[0]"
                       path="itemsFormContainier.names[0]"
                                              class="form-control" placeholder="Name of item" />
            <button type="button" class="btn btn-danger remove-button">&nbsp;
                <span class="glyphicon glyphicon-minus"></span>&nbsp;</button>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="button" class="btn btn-success add-button">&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;</button>
</form:form>
<script type="text/javascript" src="{{{resources}}}/scripts/worker.js"></script>
</body>
</html>